shared/contracts/stepfunctions/design-pipeline.asl.json
{
  "Comment": "Seeley single Standard Step Functions state machine (Q4). Full pipeline: Validate -> Parallel[Segment,Depth] -> Geometry -> Pinterest(conditional) -> Bedrock -> Retrieval -> Choice -> Assembly -> Persist -> Notify.",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-validate", "Payload.$": "$" },
      "ResultPath": "$.validation",
      "Retry": [{ "ErrorEquals": ["Lambda.ServiceException", "Lambda.TooManyRequestsException"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "PipelineFailed", "ResultPath": "$.error" }],
      "Next": "ParallelVisionGroup"
    },
    "ParallelVisionGroup": {
      "Type": "Parallel",
      "ResultPath": "$.visionResults",
      "Branches": [
        {
          "StartAt": "RoomSegmentation",
          "States": {
            "RoomSegmentation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": { "FunctionName": "seeley-pipeline-segmentation", "Payload.$": "$" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 3, "BackoffRate": 2.0 }],
              "End": true
            }
          }
        },
        {
          "StartAt": "DepthEstimation",
          "States": {
            "DepthEstimation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": { "FunctionName": "seeley-pipeline-depth", "Payload.$": "$" },
              "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2.0 }],
              "End": true
            }
          }
        }
      ],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "PipelineFailed", "ResultPath": "$.error" }],
      "Next": "HasInspiration"
    },
    "HasInspiration": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.inspirationImageKey", "IsPresent": true, "Next": "PinterestAnalysis" }
      ],
      "Default": "BedrockReasoning"
    },
    "PinterestAnalysis": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-pinterest", "Payload.$": "$" },
      "ResultPath": "$.pinterestAnalysis",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2.0 }],
      "Next": "BedrockReasoning"
    },
    "BedrockReasoning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-bedrock", "Payload.$": "$" },
      "ResultPath": "$.recommendations",
      "Retry": [{ "ErrorEquals": ["ThrottlingException", "States.ALL"], "IntervalSeconds": 3, "MaxAttempts": 3, "BackoffRate": 2.0 }],
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "PipelineFailed", "ResultPath": "$.error" }],
      "Next": "FurnitureRetrieval"
    },
    "FurnitureRetrieval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-asset-retrieval", "Payload.$": "$" },
      "ResultPath": "$.assets",
      "Retry": [{ "ErrorEquals": ["States.ALL"], "IntervalSeconds": 2, "MaxAttempts": 2, "BackoffRate": 2.0 }],
      "Next": "AssetGenerationChoice"
    },
    "AssetGenerationChoice": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.assets.allAssetsFound", "BooleanEquals": true, "Next": "SceneAssembly" }
      ],
      "Default": "GeneratePlaceholders"
    },
    "GeneratePlaceholders": {
      "Type": "Pass",
      "Comment": "Load placeholder meshes immediately; async TRELLIS generation swaps in via WebSocket asset_ready (Q5).",
      "Next": "SceneAssembly"
    },
    "SceneAssembly": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-scene-assembly", "Payload.$": "$" },
      "ResultPath": "$.scene",
      "Next": "Persist"
    },
    "Persist": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-persist", "Payload.$": "$" },
      "ResultPath": "$.persistResult",
      "Next": "Notify"
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": { "FunctionName": "seeley-pipeline-notify", "Payload.$": "$" },
      "End": true
    },
    "PipelineFailed": {
      "Type": "Fail",
      "Comment": "Terminal failure state; error details in $.error"
    }
  }
}
